.wireframe {
    margin-top: 50px;
}

.tableWrapper {
    margin-top: 100px;
}

.table {
    margin: 0 auto;
}

.tableHeader {
    font-size: larger;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
}

button {
    text-decoration: none;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.753);
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.tableWireframe {
    margin: 150px auto;
    background-color: rgba(117, 117, 117, 0.712);
    border-radius: 10px;
    width: 800px;
    height: 400px;
}